# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment/secrets
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
Thumbs.db
.DS_Store

# Dataset image data
data/raw/
data/processed/

# Local dataset audit outputs
data/audit/